/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); */
* {
  margin: 0px;
  box-sizing: border-box;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p a,
em,
img,
b,
u,
i,
center,
ol,
ul,
li,
tr,
th,
td,
article,
aside,
nav,
output,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* font-family: "Open Sans", sans-serif !important; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  line-height: normal;
}
.flex {
  display: flex;
}

.bg-grey {
  background: #f7f7f7;
}

.target {
  background: #f5f5f5;
}

.personal-info {
  background: #f0f0f0;
  display: none;
}

body {
  padding: 20px;
}

#banner img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section > .container {
  width: 1170px;
  margin: auto;
  /* display: block; */

  padding: 30px 50px;
}

#nav-bar {
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  /* display: flex; */
  width: 75%;
  margin: auto;
  padding: 10px;
}

.h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7f7f7;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

#nav-bar a:active {
  background-color: #04aa6d;
  color: white;
}

.menu li i {
  color: #199cdb;
}

.container {
  display: flex;
}

.menu {
  justify-content: center;
  display: flex;
}

#target {
  grid-template-columns: 1fr;
}
#personal-info {
  grid-template-columns: 1fr;
}

#nav-bar .menu .menu-item,
.menu .menu-item-not-pd {
  list-style-type: none;
}
.menu .menu-item a,
.menu .menu-item-not-pd {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

#about .target,
#about .personal-info {
  width: 50%;
}

#job-info-1 .container,
#job-info .container {
  justify-content: space-around;
}

section#nav-bar .menu .menu-item {
  padding: 10px 20px;
  border-right: 1px solid #ccc;

  
  
}

.menu-item-not-pd {
  padding: 0 29px;
}

#about .target,
#about .personal-info {
  padding: 80px 30px;
}

#about h1 {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 30px;
}

.personal-info ul li {
  margin-bottom: 10px;
}

#job-info .container .box-info {
  border: 1px solid #ccc;
}

.in-box-info {
  padding: 60px 30px;
}

#job-info h1 {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 50px;
}

#job-info ul li {
  list-style-type: disc;
  margin-bottom: 20px;
}

.italic {
  font-style: italic !important;
}

.time-to-now {
  display: flex;
  margin-bottom: 10px;
}

.time-to-now .box-border {
  padding: 5px 20px;
}

.time-to-now .m-y {
  padding: 5px 20px 5px 0px;
}

.box-border {
  background: #199cdb;
  border-radius: 10px;
  color: #ffffff;
}

#certificate {
  padding: 70px;
}

#certificate h1 {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 50px;
}

#certificate h5 {
  margin-bottom: 20px;
}

#certificate img {
  width: 40%;
  max-width: 100%;
  height: auto;
}

#certificate .box-certi .box-content {
  padding: 10px;
}

#certificate .in-box-certi {
  padding: 0 20px;
}

#certificate .box-certi {
  padding: 20px 0;
}

.row-1 {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: none;
}

.row-12 {
  border-bottom: 1px solid orangered;
  padding-bottom: 20px;
  padding-top: 20px;
}

#project h1 {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 50px;
  padding-left: 20px;
}

#project .box-img-project img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#project {
  padding: 70px;
}

.box-project {
  padding: 20px;
}
.box-project > div {
  border: 1px solid #ccc;
}

.box-project .title-project {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.box-project .box-content {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

/* .box-content div {
  width: 20%;
} */

.box-content .year-project {
  background: #199cdb;
  border-radius: 20px;
  color: #ffffff;
  text-align: center;
  padding: 10px 5px;
  width: 20%;
}

.box-content .company-project {
  padding: 10px 56px 10px 15px;
}

.box-content .developer-project {
  padding: 10px 5px;
}
.box-mota1 {
  padding: 27px;
}
.box-mota {
  display: flex;
  padding: 15px;
}

.box-mota p {
  padding: 10px 5px;
}

.box-mota .mo-ta {
  width: 25%;
}

.box-mota .c-v {
  width: 75%;
}

#footer .container ul {
  width: 35%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.icon i {
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hobby-item {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ic-megaphone {
  color: #199cdb;
  border: 1px solid #199cdb;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  display: flex;

  /* box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125); */
}
.ic-strategy {
  color: #199cdb;
  border: 1px solid #199cdb;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  display: flex;
}
.ic-hotairballoon {
  color: #199cdb;
  border: 1px solid #199cdb;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  display: flex;
}
.ic-basket {
  color: #199cdb;
  border: 1px solid #199cdb;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  display: flex;
}
.in-box-info {
  /* display: grid; */
  /* grid-template-columns: auto auto; */
}

.info-item {
  display: flex;
  align-content: stretch;
}

.h1-kynang {
  display: flex;
}

.icon-1 {
  width: 25%;
  font-size: 40px;
  color: #ccc;
}
.h1-kynang h1 {
  width: 75%;
}

.info-item h1 {
  width: 75%;
}

.box-content li p {
  color: rgb(180, 179, 179);
}

#footer i {
  color: #199cdb;
}
#footer p {
  color: rgb(146, 143, 143);
}

#footer {
  display: flex !important ;
  justify-content: center;
}

#footer ul li {
  display: flex;
  margin: 0 10px;
}

.flex {
  /* color:rgb(146, 143, 143) ; */
}

.flex p {
  color: #000;
}

.company-project {
  display: flex;
}

.developer-project {
  display: flex;
}

.box-certi {
  width: 47.5%;
}

#footer .container {
  justify-content: center;
}

.in-box-info li {
  color: rgb(134, 133, 133);
}

.in-box-info h3 {
  color: #000;
}

.target p {
  color: rgb(134, 133, 133);
}
.personal-info li {
  color: rgb(134, 133, 133);
}
.personal-info span {
  font-weight: bold;
  color: #000;
}

li::marker {
  color: #199cdb;
}

.progress-bar {
  border-radius: 10px;
}
.bg-success {
  background-color: #0392de !important;
}
.bg-success-1 {
  background-color: #ccc !important;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}
.progress {
  width: 33%;
  display: ms-flexbox;
  display: flex;
  height: 3px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #007bff;
  border-radius: 0.25rem;
  margin: 10px;
}
.events-attended .events-attended-details .progress {
  height: 8px;
}

.justify-center {
  justify-content: center;
}

.nav-mobile {
  display: none;
}

.box-certi {
  padding-bottom: 20px;
  padding-top: 20px;
}

.box-certi {
  border-bottom: 1px solid rgb(214 192 138 / 1);
}

.h11 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7f7f7;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

.hidden {
  display: none;
}
.box-info:hover button {
  display: block !important;
}

* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}
:root {
  --primary-color: #199cdb;
  --secondary-color: #d0d0d0;
}
.bg-grey {
  background: #f7f7f7;
}

section > .container {
  max-width: 1170px;
  margin: auto;
  display: block;

  padding: 30px 50px;
}
img {
  display: block;
  width: 100%;
}
button {
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
}
button:hover {
  background-color: #157eae;
  transition: all 1s;
}
/* Phần banner */
#banner {
  position: relative;
}
.banner-img img {
  max-height: 500px;
  object-fit: cover;
  filter: brightness(0.75);
}
.banner-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
/* Phần navbar */
#nav-bar {
  border-bottom: 1px solid var(--secondary-color);
}
#nav-bar .container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
#nav-bar .container a {
  text-decoration: none;
  color: black;
  padding: 30px 10px;
  /* border-left: 1px solid var(--secondary-color); */
}
/* #nav-bar a:nth-child(2) {
  border-right: 1px solid var(--secondary-color);
}
#nav-bar a:nth-child(5) {
  border-right: 1px solid var(--secondary-color); */
}
#nav-bar .container i {
  color: var(--primary-color);
}
.name {
  position: relative;
  min-width: 200px;
}
.avatar {
  position: absolute;
  display: flex;
  width: 150px;
  height: 150px;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
}
.avatar img {
  border-radius: 50%;
  border: 10px solid white;
}
.name p {
  color: gray;
  font-size: 0.75em;
}
/* Phần thông tin cá nhân */
#about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
#about .container .section-title {
  margin-bottom: 50px;
  margin-top: 20px;
}
#personal-info .info {
  list-style-type: none;
  padding: 0;
}
.info li span {
  font-weight: bold;
}
.info-icons {
  color: var(--primary-color);
  padding-top: 30px;
}
.info-icons i {
  cursor: pointer;
}
.info-group {
  display: none;
  position: relative;
}
.info-group .close-btn {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: white;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.email-input-group input {
  width: 100%;
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
}
.email-input-group input:focus {
  outline: none;
}
.email-input-group button {
  margin-top: 10px;
}
.message {
  color: gray;
  margin-top: 5px;
}
/* Phần công việc */
#job-info .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.job-item {
  border: 1px solid var(--secondary-color);
  box-shadow: 1px 1px 5px var(--secondary-color);
  position: relative;
  cursor: pointer;
}
.job-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.job-header h1 {
  padding: 20px 40px;
}
.job-header i {
  padding: 20px 40px 20px 0px;
  font-size: 36px;
  color: gray;
}
.job-content {
  display: none;
}
.job-item:hover {
  padding-bottom: 50px;
  transition: all 0.5s;
}
.job-footer {
  display: none;
}
.job-item:hover .job-footer {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.work-detail {
  padding: 20px 40px;
}
.name-work {
  position: relative;
}
.name-work::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  filter: blur(1px);
}
.time-line h5 {
  font-style: italic;
  font-weight: unset;
  padding: 10px 0px;
  color: gray;
}
.recent {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  padding: 2px 10px;
}
.work-content h5,
.hobbies-item h5 {
  line-height: 1.8;
  font-weight: unset;
  color: gray;
}
.hobbies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 40px;
}
.hobbies-item {
  text-align: center;
}
.hobbies-item i {
  width: 50px;
  color: var(--primary-color);
  font-size: 24px;
  height: 50px;
  border: 1px solid;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.language,
.skill {
  padding: 20px 40px;
}
.rate {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0px;
  gap: 20px;
}
.rate div.active {
  height: 4px;
  background-color: var(--primary-color);
}
.rate div.non-active {
  height: 4px;
  background-color: var(--secondary-color);
}
/* Phần chứng chỉ, giải thưởng */
.certificate-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 20px 0;
  position: relative;
}
.line {
  grid-column: 1/-1;
  height: 1px;
  background-color: orange;
}
.vertical {
  position: absolute;
  top: 0;
  bottom: 50%;
  width: 1px;
  background-color: orange;
  left: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.certificate-item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
}
.certificate-name {
  text-transform: uppercase;
}
.certificate-content h5 {
  font-weight: unset;
  color: gray;
}
/* Phần dự án */
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  padding-top: 20px;
}
.project-img {
  border: 1px solid var(--secondary-color);
}
.project-name {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid var(--secondary-color);
}
.project-name a {
  text-decoration: none;
  color: black;
}
.project-name a:hover {
  color: var(--primary-color);
  transition: all 0.5s;
}
.project-item .time-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  color: gray;
  font-size: 0.8em;
  border-left: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
}
.time-line .year {
  padding: 5px 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  line-height: 1;
}
.project-description {
  font-size: 0.8rem;
  color: gray;
}
.project-description table {
  border-collapse: collapse;
}
.project-description td {
  border: 1px solid var(--secondary-color);
}
.project-description td:first-child {
  width: 30%;
  padding: 10px 20px;
}
.project-description td:nth-child(2) {
  line-height: 1.8;
  padding: 10px;
}
/* Phần footer */
/* #footer .container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#footer ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#footer ul li i {
  font-size: 1.75rem;
  margin: 0px 5px;
  color: var(--primary-color);
} */
/* Phần project charter */
.charter-wrapper {
  display: grid;
  gap: 20px;
  margin: 20px 50px;
  padding: 20px;
  background-color: blue;
  grid-template-columns: 2fr 1fr 1fr;
}
.charter-item {
  background-color: #f0f8ff;
}
.charter-item .header {
  color: blue;
  margin: 0 10px;
  padding: 20px 0;
  border-bottom: 1px solid var(--secondary-color);
}
.charter-item .header h2 {
  line-height: 1;
}
.row {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
#goals .row {
  border-bottom: 1px solid var(--secondary-color);
}
#goals .row .icon {
  font-size: 30px;
  padding: 0px 40px;
}
#goals .row .content {
  padding: 10px;
  flex-grow: 1;
}
#goals .row .content p,
#team .row .content p,
#primary .row .content p,
#scopes .charter-content p {
  line-height: 1.2;
}
.charter-footer {
  padding: 40px 0;
}
#team .row .icon,
#primary .row .icon {
  font-size: 30px;
  padding: 0px 20px;
}
#team .row .content,
#primary .row .content,
#timeline .row .content {
  padding: 10px;
  flex-grow: 1;
}
#timeline .row {
  gap: 20px;
  margin-left: 30px;
}
#timeline .row .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9e88ff;
  color: white;
}
#timeline .row .content p {
  line-height: 1.2;
}
#timeline .row .content {
  border-bottom: 2px dotted var(--primary-color);
}
#scopes .charter-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 20px;
  gap: 50px;
}
#scopes .charter-content p {
  margin-bottom: 15px;
}
#timeline {
  grid-row: 1/3;
  grid-column: 3/4;
}
.back-btn {
  margin: 20px 50px;
}
.back-btn a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
